O objetivo deste notebook pre-prosessar os dados para serem utilizados para gerar um Dashboard no PowerBI

### Importação das bibliotecas

In [104]:
import pandas as pd

### Vamos realizar a leitura dos dados de covid, dos anos de 2020 até 2024.

OBS: Os arquivos vieram fatiados em 9 arquivos do tipo CSV.

In [147]:
#Leitura dos dados

covid_2020_1 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2020_Parte1_26jan2024.csv', sep=';', parse_dates=True)
covid_2020_2 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2020_Parte2_26jan2024.csv', sep=';', parse_dates=True)
covid_2021_1 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2021_Parte1_26jan2024.csv', sep=';', parse_dates=True)
covid_2021_2 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2021_Parte2_26jan2024.csv', sep=';', parse_dates=True)
covid_2022_1 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2022_Parte1_26jan2024.csv', sep=';', parse_dates=True)
covid_2022_2 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2022_Parte2_26jan2024.csv', sep=';', parse_dates=True)
covid_2023_1 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2023_Parte1_26jan2024.csv', sep=';', parse_dates=True)
covid_2023_2 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2023_Parte2_26jan2024.csv', sep=';', parse_dates=True)
covid_2024_1 = pd.read_csv('HIST_PAINEL_COVIDBR_26jan2024\HIST_PAINEL_COVIDBR_2024_Parte1_26jan2024.csv', sep=';', parse_dates=True)

Verificação da quantidade de amostras nos conjuntos

In [148]:
print(f'covid_2020_1: Possui {covid_2020_1.shape[0]} linhas e {covid_2020_1.shape[1]} colunas')
print(f'covid_2020_2: Possui {covid_2020_2.shape[0]} linhas e {covid_2020_2.shape[1]} colunas')
print(f'covid_2021_1: Possui {covid_2021_1.shape[0]} linhas e {covid_2021_1.shape[1]} colunas')
print(f'covid_2021_2: Possui {covid_2021_2.shape[0]} linhas e {covid_2021_2.shape[1]} colunas')
print(f'covid_2022_1: Possui {covid_2022_1.shape[0]} linhas e {covid_2022_1.shape[1]} colunas')
print(f'covid_2022_2: Possui {covid_2022_2.shape[0]} linhas e {covid_2022_2.shape[1]} colunas')
print(f'covid_2023_1: Possui {covid_2023_1.shape[0]} linhas e {covid_2023_1.shape[1]} colunas')
print(f'covid_2023_2: Possui {covid_2023_2.shape[0]} linhas e {covid_2023_2.shape[1]} colunas')
print(f'covid_2024_1: Possui {covid_2024_1.shape[0]} linhas e {covid_2024_1.shape[1]} colunas')

covid_2020_1: Possui 1574188 linhas e 17 colunas
covid_2020_2: Possui 859707 linhas e 17 colunas
covid_2021_1: Possui 1017039 linhas e 17 colunas
covid_2021_2: Possui 1033896 linhas e 17 colunas
covid_2022_1: Possui 1017039 linhas e 17 colunas
covid_2022_2: Possui 1033896 linhas e 17 colunas
covid_2023_1: Possui 1017039 linhas e 17 colunas
covid_2023_2: Possui 1033896 linhas e 17 colunas
covid_2024_1: Possui 146094 linhas e 17 colunas

Vamos concatenar os dataframes para gerar um único dataframe contendo todos os dados de 2020 até 2024.

In [150]:
covid_full_br = pd.concat([covid_2020_1, covid_2020_2, covid_2021_1, covid_2021_2, covid_2022_1, covid_2022_2, covid_2023_1, covid_2023_2, covid_2024_1], ignore_index=True)

Vamos checar a nova quantidade de linha e colunas do dataframe

In [149]:
print(f'Novo dataframe completo: Possui {covid_full_br.shape[0]} linhas e {covid_full_br.shape[1]} colunas')

Novo dataframe completo: Possui 8732794 linhas e 17 colunas

Vamos visualizar os dados 5 primeiros dados do nosso novo dataframe para que possamos ter ideia de como os dados estão distribuidos no inicio do dataframe

In [151]:
covid_full_br.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0.0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1.0,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1.0,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1.0,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2.0,1,0,0,1.0,1.0,NaN

Vamos visualizar os dados 5 primeiros dados do nosso novo dataframe para que possamos ter ideia de como os dados estão distribuidos no fim do dataframe

In [152]:
covid_full_br.tail()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
8732789,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2024-01-22,4,3015268.0,928241.0,0,11952,0,NaN,NaN,1.0
8732790,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2024-01-23,4,3015268.0,928241.0,0,11952,0,NaN,NaN,1.0
8732791,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2024-01-24,4,3015268.0,928241.0,0,11952,0,NaN,NaN,1.0
8732792,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2024-01-25,4,3015268.0,928241.0,0,11952,0,NaN,NaN,1.0
8732793,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2024-01-26,4,3015268.0,928241.0,0,11952,0,NaN,NaN,1.0

Vamos pegar algumas informações basicas do dataframe utilizando o método .info() do Pandas

In [153]:
covid_full_br.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8732794 entries, 0 to 8732793
Data columns (total 17 columns):
 #   Column                  Dtype
---  ------                  -----
 0   regiao                  object
 1   estado                  object
 2   municipio               object
 3   coduf                   int64
 4   codmun                  float64
 5   codRegiaoSaude          float64
 6   nomeRegiaoSaude         object
 7   data                    object
 8   semanaEpi               int64
 9   populacaoTCU2019        float64
 10  casosAcumulado          float64
 11  casosNovos              int64
 12  obitosAcumulado         int64
 13  obitosNovos             int64
 14  Recuperadosnovos        float64
 15  emAcompanhamentoNovos   float64
 16  interior/metropolitana  float64
dtypes: float64(7), int64(5), object(5)
memory usage: 1.1+ GB

Agora temos ideia de quais colunas são do tipo númerico e quais são do tipo texto ou 'object'. Note que a coluna de data está como object e vamos precisar converter para o tipo datetime.

In [154]:
covid_full_br['data'] = pd.to_datetime(covid_full_br['data'], format= '%Y-%m-%d')

Vamos checar se os tipos das colunas estão de acordo com o que se espera.

In [169]:
covid_full_br.dtypes

regiao                            object
estado                            object
municipio                         object
coduf                              int64
codmun                           float64
codRegiaoSaude                   float64
nomeRegiaoSaude                   object
data                      datetime64[ns]
semanaEpi                          int64
populacaoTCU2019                 float64
casosAcumulado                   float64
casosNovos                         int64
obitosAcumulado                    int64
obitosNovos                        int64
Recuperadosnovos                 float64
emAcompanhamentoNovos            float64
interior/metropolitana           float64
dtype: object

Vamos verificar a quantidade de valores ausentes por coluna no dataset em porcentagem

In [155]:
(covid_full_br.isna().sum()/covid_full_br.shape[0]*100).sort_values(ascending=False)

emAcompanhamentoNovos     99.981861
Recuperadosnovos          99.981861
interior/metropolitana     0.881894
municipio                  0.881894
codRegiaoSaude             0.881894
nomeRegiaoSaude            0.881894
codmun                     0.508199
populacaoTCU2019           0.373695
estado                     0.018150
obitosAcumulado            0.000000
obitosNovos                0.000000
regiao                     0.000000
casosNovos                 0.000000
casosAcumulado             0.000000
data                       0.000000
coduf                      0.000000
semanaEpi                  0.000000
dtype: float64

Observe que as colunas emAcompanhamentoNovos e Recuperadosnovos possuem mais de 99.9% de dados ausentes, então não teremos problemas em eliminar essas colunsa do nosso dataframe, para que possamos fazer analises mais acertivas.

In [156]:
covid_full_br_tratado = covid_full_br.drop(columns=['emAcompanhamentoNovos', 'Recuperadosnovos'])

In [158]:
(covid_full_br_tratado.isna().sum()/covid_full_br_tratado.shape[0]*100).sort_values(ascending=False)

municipio                 0.881894
codRegiaoSaude            0.881894
nomeRegiaoSaude           0.881894
interior/metropolitana    0.881894
codmun                    0.508199
populacaoTCU2019          0.373695
estado                    0.018150
regiao                    0.000000
coduf                     0.000000
data                      0.000000
semanaEpi                 0.000000
casosAcumulado            0.000000
casosNovos                0.000000
obitosAcumulado           0.000000
obitosNovos               0.000000
dtype: float64

Note que no nosso dataset ainda tem 7 colunas com dados faltando, como os valores são muito menor que 1% vamos eliminar essas linhas com algum dado ausente.

In [159]:
covid_full_br_tratado = covid_full_br_tratado.dropna()

Vamos verificar agora como nosso realmente está sem dados ausentes

In [160]:
(covid_full_br_tratado.isna().sum()/covid_full_br_tratado.shape[0]*100).sort_values(ascending=False)

regiao                    0.0
estado                    0.0
municipio                 0.0
coduf                     0.0
codmun                    0.0
codRegiaoSaude            0.0
nomeRegiaoSaude           0.0
data                      0.0
semanaEpi                 0.0
populacaoTCU2019          0.0
casosAcumulado            0.0
casosNovos                0.0
obitosAcumulado           0.0
obitosNovos               0.0
interior/metropolitana    0.0
dtype: float64

Vamos verificar as novas quantidades de linhas e colunas

In [161]:
print(f'Novo dataframe completo: Possui {covid_full_br_tratado.shape[0]} linhas e {covid_full_br_tratado.shape[1]} colunas')

Novo dataframe completo: Possui 8655780 linhas e 15 colunas

Vamos realizar o mapeamento das Siglas do estado para o nome completo do estado, pois assim evitaremos algum tipo de erro, pois as siglas podem causar confusão na hora de realizar plots de dados de geolocalização, etc.

In [163]:
# Função utilizada para realizar o mapeamento da sigla no nome completo do estado da federação.
def sigla_to_full_name(sigla: str) -> str:
    estados_brasil = {
        "AC": "Acre",
        "AL": "Alagoas",
        "AP": "Amapá",
        "AM": "Amazonas",
        "BA": "Bahia",
        "CE": "Ceará",
        "DF": "Distrito Federal",
        "ES": "Espírito Santo",
        "GO": "Goiás",
        "MA": "Maranhão",
        "MT": "Mato Grosso",
        "MS": "Mato Grosso do Sul",
        "MG": "Minas Gerais",
        "PA": "Pará",
        "PB": "Paraíba",
        "PR": "Paraná",
        "PE": "Pernambuco",
        "PI": "Piauí",
        "RJ": "Rio de Janeiro",
        "RN": "Rio Grande do Norte",
        "RS": "Rio Grande do Sul",
        "RO": "Rondônia",
        "RR": "Roraima",
        "SC": "Santa Catarina",
        "SP": "São Paulo",
        "SE": "Sergipe",
        "TO": "Tocantins"
    }

    return estados_brasil[sigla]

Para realizar essa conversão de sigla para nome completo, vamos utilziar o metódo apply() do pandas.

In [165]:
covid_full_br_tratado['estado'] = covid_full_br_tratado['estado'].apply(lambda sigla: sigla_to_full_name(sigla))

Note que a função foi aplicada e o mapeamento foi realizado com sucesso.

In [167]:
covid_full_br_tratado.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,interior/metropolitana
4551,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-27,13,22945.0,0.0,0,0,0,0.0
4552,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-28,13,22945.0,0.0,0,0,0,0.0
4553,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-29,14,22945.0,0.0,0,0,0,0.0
4554,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-30,14,22945.0,0.0,0,0,0,0.0
4555,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-31,14,22945.0,0.0,0,0,0,0.0

### Vamos agora salvar nossa base de dados tratada e pronto para ser usada no PowerBI ou em qualquer outra ferramente de criação de Dashboards

In [170]:
covid_full_br_tratado.to_csv('historico_covid_br_tratado_2020_2024.csv', index=False)